<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelExperts.Team1.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <noscript>
        <link href="no-js.css" />
        <style type="text/css">
            .hideme {
                opacity: 1;
            }

            .togglein {
                opacity: 1;
            }

            .slide-up {
                opacity: 1;
            }
        </style>
    </noscript>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-info border-bottom box-shadow navbar-fixed-top">
            <div class="container">
                <logo class="margin-righ-1vw"><img src="~/img/compass7.png" alt="Travel Expert Logo" width="50" /></logo>
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Travel Experts</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @*Marlon Rodriguez
                        Added connection to Login partial view*@
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Packages" asp-action="CurrentPackages">Packages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="jumbotron">
        <div class="container container2 body-content .bg-change-animation">
            <h1 class="jumbotron h1">Travel Experts</h1>
            @*<p><a href="~/Customer/Create" class="btn btn-primary btn-lg bg-info">Create an Account &raquo;</a></p>*@

        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Travel    Experts - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
