@{
    ViewBag.Title = "Contact";
}

@*<h2>@ViewBag.Title</h2>*@
<h3>@ViewBag.Message</h3>

<hr />

<address>
    <strong>Calgary Office</strong><br />
    1155 8th Ave SW  <br />
    <abbr title="Phone">P:</abbr>
    4032719873<br />
    Senior Agent: Janet Dalton <br />
    <strong>Email:</strong>   <a href="#">janet.delton@travelexperts.com</a><br />
</address>

<address>
    <strong>Okotoks Office</strong><br />
    110 Main Street <br />
    <abbr title="Phone">P:</abbr>
    4035632381<br />
    Senior Agent: Jane Merrill <br />
    <strong>Email:</strong>   <a href="#">jane.merrill@travelexperts.com</a><br />

</address>

<address>
    <strong>General Inquries:</strong>   <a href="#">info@travelexperts.ca</a><br />
</address>