@{
    ViewBag.Title = "Contact";
}

@*<h2>@ViewBag.Title</h2>*@
<h1 class="text-center text-sm-center text-md-center text-lg-center text-xl-center">@ViewBag.Message</h1>
<br />
<hr/>

<div class="d-sm-flex row justify-content-center">
    <div class="row justify-content-center" style="padding:30px">
        <address>
            <strong>Calgary Office</strong><br />
            1155 8th Ave SW  <br />
            <abbr title="Phone">P:</abbr>
            4032719873<br />
            Senior Agent: Janet Dalton <br />
            <strong>Email:</strong>   <a href="#">janet.dalton@travelexperts.com</a><br />
            <strong>General Inquries:</strong>   <a href="#">info@travelexperts.ca</a><br />
        </address>
    </div>
    <br />
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.3847274439927!2d-114.09056018424701!3d51.045983579562105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716fe76e972489%3A0x149461cedf5b7c5b!2s1155%208%20Ave%20SW%2C%20Calgary%2C%20AB!5e0!3m2!1sen!2sca!4v1590123344643!5m2!1sen!2sca" width="300" height="200" frameborder="0" style="border-radius:10px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<div style="padding:20px"></div>
<div class="row justify-content-center">
    <div class="row justify-content-center" style="padding:30px">
        <address>
            <strong>Okotoks Office</strong><br />
            8 McRae Street <br />
            <abbr title="Phone">P:</abbr>
            4035632381<br />
            Senior Agent: Jane Merrill <br />
            <strong>Email:</strong>   <a href="#">jane.merrill@travelexperts.com</a><br />
            <strong>General Inquries:</strong>   <a href="#">info@travelexperts.ca</a><br />
        </address>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2525.694200481613!2d-113.97649398456171!3d50.72561217951423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537199c0c6d6b5d7%3A0x86c6d09be8bf79ce!2sMain%20Street%20Market%20%26%20More!5e0!3m2!1sen!2sca!4v1590124295921!5m2!1sen!2sca" width="300" height="200" frameborder="0" style="border-radius:10px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>

@*<div class="row justify-content-center">
    <address>
        <strong>General Inquries:</strong>   <a href="#">info@travelexperts.ca</a><br />
    </address>
</div>*@
