@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<hr />

<address>
    <strong>Calgary Office</strong><br />
    267 Valley Crest Rise<br />
    <abbr title="Phone">P:</abbr>
    403.764.3768
</address>

<address>
    <strong>Vancouver Office</strong><br />
    Bla-bla<br />
    <abbr title="Phone">P:</abbr>
    403.XXX.XXXX
</address>

<address>
    <strong>Email:</strong>   <a href="#">info@travelexperts.ca</a><br />
</address>