@{
    ViewData["Title"] = "Home Page";
}

@*Log out button *@
@*<form>
    <input type="submit" value="Logout" asp-controller="Account" asp-action="Logout"/>
</form>*@

<div class="row">
    <div class="col-md-4">

        <div class="animation-element slide-up">
            <div class="titlebox">
                <h2 class="titlebox">Adventure</h2>
            </div>
        </div>

        <p>
            <div class="imghomebig"></div>
        </p>
        <div class="animation-element slide-up">
            <p>
                Surf big waves, kayak, bike extraordinary cities, or experience skydiving. We can help you find the thrills you are looking for.
                <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
            </p>
        </div>
    </div>
    <div class="col-md-4">

        <div class="animation-element slide-up">
            <div class="titlebox">
                <h2 class="titlebox">Relax</h2>
            </div>
        </div>

        <p>
            <div class="imghomebig"></div>
        </p>
        <div class="animation-element slide-up">
            <p>Escape your busy lifestyle with the ultimate in relaxation. Journey to the world’s best beaches with a spa package included.</p>
            <!--<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
        </div>
    </div>
    <div class="col-md-4">

        <div class="animation-element slide-up">
            <div class="titlebox">
                <h2 class="titlebox">Explore</h2>
            </div>
        </div>

        <p>
            <div class="imghomebig"></div>
        </p>
        <div class="animation-element slide-up">
            <p>Explore some of the world’s most exciting cities with planned excursions you will never forget. Let us plan your next vacation.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="imghomebigbottom">
            <h2 class="white">The adventure of a lifetime awaits.</h2>
        </div>
    </div>
</div>
</div>

