@{
    ViewData["Title"] = "Home Page";
}

@*Log out button *@
@*<form>
    <input type="submit" value="Logout" asp-controller="Account" asp-action="Logout"/>
</form>*@

<div class="row">
    <div class="col-md-4">

        <div class="animation-element slide-up">
            <div class="titlebox padding2_5">
                <h2 class="titlebox text-light">Adventure</h2>
            </div>
        </div>

        <p>
            <div class="imghomebig bg-change-animation"></div>
        </p>
        <div class="animation-element slide-up">
            <p>
                Surf big waves, kayak, bike extraordinary cities, or experience skydiving. We can help you find the thrills you are looking for.
            </p>
        </div>
    </div>
    <div class="col-md-4">

        <div class="animation-element slide-up">
            <div class="titlebox padding2_5">
                <h2 class="titlebox text-light text-center">Relax</h2>
            </div>
        </div>

        <p>
            <div class="imghomebig bg-change-animation"></div>
        </p>
        <div class="animation-element slide-up">
            <p>Escape your busy lifestyle with the ultimate in relaxation. Journey to the world’s best beaches with a spa package included.</p>
            
        </div>
    </div>
    <div class="col-md-4">

        <div class="animation-element slide-up">
            <div class="titlebox padding2_5">
                <h2 class="titlebox text-light">Explore</h2>
            </div>
        </div>

        <p>
            <div class="imghomebig bg-change-animation"></div>
        </p>
        <div class="animation-element slide-up">
            <p>Explore some of the world’s most exciting cities with planned excursions you will never forget. Let us plan your next vacation.</p>
            
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div class="imghomebigbottom">
            <h2 class="white text-center text-sm-center text-md-center text-lg-center text-xl-center">The adventure of a lifetime awaits.</h2>
        </div>
    </div>
</div>


